$background-Base: #0e0bb8;
$background-Important: #060241;
$background-Warning: #10c2b3;
$principal-Font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$secondary-Font: Georgia, "Times New Roman", Times, serif;

$border-radius: 6px;
$box-shadow: -3px 3px 5px 2px;
