$background-Base: #ff0000;
$background-Important: #5a0a0a;
$background-Warning: #d89bc5;
$principal-Font: "Courier New", Courier, monospace;
$secondary-Font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

$border-radius: 1px;
$box-shadow: 3px 3px 5px 2px;
