.bigContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #92afb8;
}

.container-3 {
  display: grid;
  grid-template-rows: 30% 10% 40% 10% 10%;
  background-color: white;
  border: 1px solid black;
  margin: 12px;
  & div:nth-child(n + 2) {
    padding: 0px 12px;
  }
}
.title {
  align-self: center;
}
img {
  width: 100%;
  max-height: 100%;
}

h3 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.published {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-bottom: 12px;
}
.button {
  margin-bottom: 12px;
  align-self: flex-end;
}

button {
  width: 100%;
  padding: 6px;
  font-size: 1.2em;
  background-color: chartreuse;
  border-radius: 6px;
}
